## microsoft/TypeScript:.gitignore

node_modules/
.node_modules/
built/_
tests/cases/rwc/_
tests/cases/test262/_
tests/cases/perf/_
!tests/cases/webharness/compilerToString.js
test-args.txt
~_.docx
\#_#
.#_
tests/baselines/local/_
tests/baselines/local.old/_
tests/services/baselines/local/_
tests/baselines/prototyping/local/_
tests/baselines/rwc/_
tests/baselines/test262/_
tests/baselines/reference/projectOutput/_
tests/baselines/local/projectOutput/_
tests/baselines/reference/testresults.tap
tests/services/baselines/prototyping/local/_
tests/services/browser/typescriptServices.js
src/harness/_.js
src/compiler/diagnosticInformationMap.generated.ts
src/compiler/diagnosticMessages.generated.json
src/parser/diagnosticInformationMap.generated.ts
src/parser/diagnosticMessages.generated.json
rwc-report.html
_.swp
build.json
_.actual
tests/webTestServer.js
tests/webTestServer.js.map
tests/webhost/_.d.ts
tests/webhost/webtsc.js
tests/cases/**/_.js
!tests/cases/docker/_.js/
tests/cases/**/_.js.map
_.config
scripts/eslint/built/
scripts/debug.bat
scripts/run.bat
scripts/word2md.js
scripts/buildProtocol.js
scripts/ior.js
scripts/authors.js
scripts/configurePrerelease.js
scripts/configureLanguageServiceBuild.js
scripts/open-user-pr.js
scripts/open-cherry-pick-pr.js
scripts/processDiagnosticMessages.d.ts
scripts/processDiagnosticMessages.js
scripts/produceLKG.js
scripts/importDefinitelyTypedTests/importDefinitelyTypedTests.js
scripts/generateLocalizedDiagnosticMessages.js
scripts/request-pr-review.js
scripts/_.js.map
scripts/typings/
coverage/
internal/
**/.DS_Store
.settings
**/.vs
\*\*/.vscode/_
!**/.vscode/tasks.json
!**/.vscode/settings.template.json
!**/.vscode/launch.template.json
!**/.vscode/extensions.json
!tests/cases/projects/projectOption/**/node_modules
!tests/cases/projects/NodeModulesSearch/**/_
!tests/baselines/reference/project/nodeModules_/**/_
.idea
yarn.lock
yarn-error.log
.parallelperf._
tests/cases/user/_/package-lock.json
tests/cases/user/_/node_modules/
tests/cases/user/\*/**/_.js
tests/cases/user/_/**/_.js.map
tests/cases/user/_/**/\*.d.ts
!tests/cases/user/zone.js/
!tests/cases/user/bignumber.js/
!tests/cases/user/discord.js/
tests/baselines/reference/dt
.failed-tests
TEST-results.xml
package-lock.json
tests/cases/user/TypeScript-React-Starter/TypeScript-React-Starter
tests/cases/user/TypeScript-Node-Starter/TypeScript-Node-Starter
tests/cases/user/TypeScript-React-Native-Starter/TypeScript-React-Native-Starter
tests/cases/user/TypeScript-Vue-Starter/TypeScript-Vue-Starter
tests/cases/user/TypeScript-WeChat-Starter/TypeScript-WeChat-Starter
tests/cases/user/create-react-app/create-react-app
tests/cases/user/fp-ts/fp-ts
tests/cases/user/webpack/webpack
tests/cases/user/puppeteer/puppeteer
tests/cases/user/axios-src/axios-src
tests/cases/user/prettier/prettier
.eslintcache
